<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ideal Education Management & Technology</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link href="fonts/fontawesome-webfont.eot">
	</head>
	<body>
		<div class="container-fluid">
			<div class="container">
				<div class="row top-header bottom">
					<div class="col-md-12">
						<ul>
							<li><a href="#">Privacy Policy |</a></li>
							<li><a href="#">Refund & Cancellation Policy |</a></li>
							<li><a href="#">Terms & Conditions |</a></li>
							<li><a href="contact-us.html">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-12"><p>Copyright &copy 2015.<a href="index.html">Ideal Education Management & Technology.</a> All rights reserved.</p></div>
				</div>
			</div>
		</div>
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>	