<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ideal Education Management & Technology</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome.css" rel="stylesheet">
	<link href="fonts/fontawesome-webfont.eot">
  </head>
  <body>
	<div class="container-fluid">
		<div class="container">
			<div class="row top-header">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<ul class="inline-list">
						<li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
			  <li><%= link_to "Enroll Now |", root_path %></li>
			  <li><%= link_to "Home |",  ideal_institute_index_path %></li>
			  <li><%= link_to "About Us |", ideal_institute_about_us_path, :class => "active" %></li>
			  <li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
					</ul>
				</div>
			</div>
			<div class="row top-header main">
				<div class="col-md-7" style="padding-top: 3%;">
					<h4><a href="index.html">IDEAL EDUCATION MANAGEMENT & TECHNOLOGY</a></h4>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<ul class="inline-list">
						<li><span style="font-size:20px;">Follow Us : </span></li>
						<li><a href="#" class="fa fa-facebook-square"></a></li>
						<li><a href="#" class="fa fa-twitter-square"></a></li>
						<li><a href="#" class="fa fa-google-plus-square"></a></li>
					</ul>
					<h5>Contact No.: 1234567890</h5>
					<h5>Email Id : info@iemt.co.in</h5>
				</div>
				<div class="col-md-12">

					<nav class="navbar navbar-default">
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
						  <ul class="nav navbar-nav">
							<li><a href="about-us.html">About Us</a></li>
							<li><a href="courses.html">Courses & Fees</a></li>
							<li><a href="procedure.html">Procedure</a></li>
							<li><a href="accreditations.html">Accreditations</a></li>
							<li><a href="training-placement.html">Training & Placement</a></li>
							<li><a href="universities.html">Universities</a></li>
							<li style="border-right: none;"><a href="verification.html">Verification</a></li>
						  </ul>
						</div>
						</nav>

				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  </body>
</html>