<div class="col-md-8">
	<div class="row top-header">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<ul class="inline-list">
				<li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Student Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Enroll Now |", root_path %></li>
				<li><%= link_to "Home |", ideal_institute_index_path %></li>
				<li><%= link_to "About Us |", ideal_institute_about_us_path %></li>
				<li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
	</div>

	<div class="row top-header main">
		<div class="col-md-8" style="padding-top: 1%;padding-bottom: 1%;">
			<div class="col-md-4">
				<style>.logo {width:%;}</style>
				<%= image_tag(('logo.png'), :class => "logo img-responsive") %>
			</div>
			<div class="col-md-8" style="padding-top: 4%;">	
				<h4 style="font-size: 24px;"><%= link_to "IDEAL EDUCATION INSTITUTE MANAGEMENT & TECHNOLOGY", ideal_institute_index_path %></h4>
			</div>
		</div>
		<div class="col-md-4" style="padding-top:3%;">
      <ul class="inline-list">
        <li><span style="font-size:12px;">Follow Us : </span></li>
        <li><a href="#" class="fa fa-facebook-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-twitter-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-google-plus-square" style="font-size:24px;"></a></li>
      </ul>
			<h5>Email Id : info@ieimt.org</h5>
    	<h5>Contact No.: 011-40554732, 9212900683</h5>
    </div>

		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
				  <ul class="nav navbar-nav">
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Courses & Fees <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Engineering Courses", ideal_institute_show_pdf_path(course_type: "engineering"), target: '_blank' %></li>
								<li><%= link_to "Management Courses", ideal_institute_show_pdf_path(course_type: "management"), target: '_blank' %></li>
							</ul>
						</li>
		  			<li><%= link_to "Procedure", ideal_institute_procedure_path %></li>
		  			<li class="active"><%= link_to "Accreditations", ideal_institute_accreditations_path %></li>
		  			<li><%= link_to "Training & Placement", ideal_institute_training_placement_path %></li>
		  			<li><%= link_to "Verification", ideal_institute_verification_path %></li>
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Universities <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%#= link_to "Regular Universities", ideal_institute_universities_path(university_type: "Regular University") %>
								<%= link_to "Regular Universities" %></li>
								<li><%#= link_to "Distance Universities", ideal_institute_universities_path(university_type: "Distance University") %>
								<%= link_to "Distance Universities", ideal_institute_universities_path %></li>
							</ul>
						</li>
            <li style="border-right: none;">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "About us", ideal_institute_about_us_path %></li>
                <li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
                <li><%= link_to "Extras" %></li>
              </ul>
            </li>
				  </ul>
				</div>
				</nav>
			</div>

		<div class="col-md-12" style="margin-top:20px;"></div>

		<div class="col-md-12 rt-content">
			<div class="box">
				<h4>Accreditations</h4>
				<p><b><i>Ideal Education Group, Delhi Govt. Registered :</i></b></p>
				<p>Ideal Education Management & Technology was established by the Ideal Education Group, duly registered by the Govt. of NCT of Delhi under Societies Registration act XXI of 1860, with registration no S/1391.</p>
				<p><b><i>ISO: 9001:2008 Certified Institute :</i></b></p>
				<p>IEMT is a ISO: 9001:2008 certified institute, We adhere to quality management guidelines and develop a quality management system (QMS) of our own to assist in regulating our operations. This consists of a series of policies and procedures to be taken at the departmental and managerial levels to ensure that transparency and accountability are maintained.</p>
				<p><b><i>UGC, AICTE & HRD Approved Courses :</i></b></p>
				<p>IEMT has been appointed as National Coordinator of Indian Universities, So the  programs offered by these universities are recognized by UGC, AICTE & HRD and are Valid for Govt. job, further studies & foreign immigrations.</p>
				<p><b><i>National Council of Distance Education (NCODE) : Approved</i></b></p>
			</div>
		</div>
		<div class="col-md-12" style="margin-top:20px;"></div>
	</div>
	<div class="row top-header bottom	">
		<div class="col-md-12">
			<ul>
				<li><%= link_to "Privacy Policy |", ideal_institute_policy_path %></li>
          <li><%= link_to "Refund & Cancellation Policy |", ideal_institute_refund_path %></li>
          <li><%= link_to "Terms & Conditions |", ideal_institute_terms_path %></li>
          <li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Copyright &copy 2015. All rights reserved. |</li>
				<li>Ideal Education Institute Management & Technology.</li>
			</ul>
		</div>
	</div>
</div>