<div class="col-md-8">
	<div class="row top-header">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<ul class="inline-list">
			  <li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
			  <li><%= link_to "Student Login |", new_admin_user_session_path %></li>
			  <li><%= link_to "Enroll Now |", root_path %></li>
			  <li><%= link_to "Home |",  ideal_institute_index_path %></li>
			  <li><%= link_to "About Us |", ideal_institute_about_us_path %></li>
			  <li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
	</div>

	<div class="row top-header main">
		<div class="col-md-8" style="padding-top: 1%;padding-bottom: 1%;">
			<div class="col-md-4">
				<style>.logo {width:%;}</style>
				<%= image_tag(('logo.png'), :class => "logo img-responsive") %>
			</div>
			<div class="col-md-8" style="padding-top: 4%;">	
				<h4 style="font-size: 24px;"><%= link_to "IDEAL EDUCATION INSTITUTE MANAGEMENT & TECHNOLOGY", ideal_institute_index_path %></h4>
			</div>
		</div>
		<div class="col-md-4" style="padding-top:3%;">
			<ul class="inline-list">
				<li><span style="font-size:14px;">Follow Us : </span></li>
				<li><a href="#" class="fa fa-facebook-square"></a></li>
				<li><a href="#" class="fa fa-twitter-square"></a></li>
				<li><a href="#" class="fa fa-google-plus-square"></a></li>
			</ul>
			<h5>Contact No.: 011-40554732</h5>
			<h5>Email Id : info@ieimt.org</h5>
		</div>

		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
				  <ul class="nav navbar-nav">
								<li class="active"><%= link_to "Courses & Fees", ideal_institute_courses_path %></li>
							  <li><%= link_to "Procedure", ideal_institute_procedure_path %></li>
							  <li><%= link_to "Accreditations", ideal_institute_accreditations_path %></li>
							  <li><%= link_to "Training & Placement", ideal_institute_training_placement_path %></li>
							  <li><%= link_to "Verification", ideal_institute_verification_path %></li>
					<li>
								<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">Universities <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><%= link_to "Regular Universities" %></li>
								  <li><%= link_to "Distance Universities" %></li>
								</ul>
							  </li>
							  <li style="border-right: none;">
								<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">More <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><%= link_to "About us", ideal_institute_about_us_path %></li>
								  <li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
								  <li><%= link_to "Extras" %></li>
								</ul>
							  </li>
				  </ul>
				</div>
				</nav>
			</div>

		<div class="col-md-12" style="margin-top:20px;"></div>

			<div class="col-md-12 rt-content">
			<div class="box">
				<h4>Our Courses</h4>
				<p><b><i>Technical Courses :</i></b></p>
				<p>IEMT is a unique education provider, offering innovative and internationally renowned programmes developed to remain relevant in challenging times. IEMT is recognised as a global centre of excellence for business management, finance and marketing programmes, with the highest quality academic partners, corporate networks, and state-of-the-art facilities.</p>
				<ul>
					<li><%= link_to 'Diploma Courses', ideal_institute_show_pdf_path, target: '_blank' %></li>
					<li><a href="#">Graduation Courses</a></li>
					<li><a href="#">Post Graduation Courses</a></li>
				</ul>
				<p><b><i>Management Courses :</i></b></p>
				<p>IEMT is a unique education provider, offering innovative and internationally renowned programmes developed to remain relevant in challenging times. IEMT is recognised as a global centre of excellence for business management, finance and marketing programmes, with the highest quality academic partners, corporate networks, and state-of-the-art facilities.</p>
				<ul>
					<li><a href="#">Diploma Courses</a></li>
					<li><a href="#">Executive Courses</a></li>
					<li><a href="#">Graduation Courses</a></li>
					<li><a href="#">Post Graduation Courses</a></li>
				</ul>
			</div>
			</div>
			<div class="col-md-12" style="margin-top:20px;"></div>
	</div>
	<div class="row top-header bottom	">
		<div class="col-md-12">
			<ul>
				<li><%= link_to "Privacy Policy |", ideal_institute_policy_path %></li>
	  <li><%= link_to "Refund & Cancellation Policy |", ideal_institute_refund_path %></li>
	  <li><%= link_to "Terms & Conditions |", ideal_institute_terms_path %></li>
	  <li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Copyright &copy 2015. All rights reserved. |</li>
				<li>Ideal Education Institute Management & Technology.</li>
			</ul>
		</div>
	</div>
</div>