<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<div class="col-md-8">
	<div class="row top-header">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<ul class="inline-list">
				<li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Student Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Enroll Now |", root_path %></li>
				<li class="active"><%= link_to "Home |",  ideal_institute_index_path %></li>
				<li><%= link_to "About Us |", ideal_institute_about_us_path %></li>
				<li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
	</div>
	<div class="row top-header main">
		<div class="col-md-8" style="padding-top: 1%;padding-bottom: 1%;">
			<div class="col-md-4">
				<style>.logo {width:%;}</style>
				<%= image_tag(('logo.png'), :class => "logo img-responsive") %>
			</div>
			<div class="col-md-8" style="padding-top: 4%;">	
				<h4 style="font-size: 24px;"><%= link_to "IDEAL EDUCATION INSTITUTE MANAGEMENT & TECHNOLOGY", ideal_institute_index_path %></h4>
			</div>
		</div>
		<div class="col-md-4" style="padding-top:3%;">
	  <ul class="inline-list">
		<li><span style="font-size:12px;">Follow Us : </span></li>
		<li><a href="#" class="fa fa-facebook-square" style="font-size:24px;"></a></li>
		<li><a href="#" class="fa fa-twitter-square" style="font-size:24px;"></a></li>
		<li><a href="#" class="fa fa-google-plus-square" style="font-size:24px;"></a></li>
	  </ul>
			<h5>Email Id : info@ieimt.org</h5>
		<h5>Contact No.: 011-40554732, 9212900683</h5>
	</div>
		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
					<ul class="nav navbar-nav">
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Courses & Fees <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Engineering Courses", ideal_institute_show_pdf_path(course_type: "engineering"), target: '_blank' %></li>
								<li><%= link_to "Management Courses", ideal_institute_show_pdf_path(course_type: "management"), target: '_blank' %></li>
							</ul>
						</li>
						<li><%= link_to "Procedure", ideal_institute_procedure_path %></li>
						<li><%= link_to "Accreditations", ideal_institute_accreditations_path %></li>
						<li><%= link_to "Training & Placement", ideal_institute_training_placement_path %></li>
						<li><%= link_to "Verification", ideal_institute_verification_path %></li>
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Universities <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%#= link_to "Regular Universities", ideal_institute_universities_path(university_type: "Regular University") %>
								<%= link_to "Regular Universities" %></li>
								<li><%#= link_to "Distance Universities", ideal_institute_universities_path(university_type: "Distance University") %>
								<%= link_to "Distance Universities", ideal_institute_universities_path %></li>
							</ul>
						</li>
						<li style="border-right: none;">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "About us", ideal_institute_about_us_path %></li>
								<li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
								<li><%= link_to "Extras" %></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-md-12">
			<center>
				<div id="sliderb_container" style="position: relative; width: 880px; height: 400px; overflow: hidden; ">
					<div u="loading" style="position: absolute; top: 0px; left: 0px;">
						<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
						</div>
						<div style="position: absolute; display: block;top: 0px; left: 0px;width: 100%;height:100%;">
						</div>
					</div>
					<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 880px; height: 400px;
						overflow: hidden;">
						<div>
							<%= image_tag(('01.jpg'), :class => "banner_image") %>
							<div u="thumb">IDEAL EDUCATION MANAGEMENT & TECHNOLOGY</div>
						</div>
						<div>
							<%= image_tag(('02.jpg'), :class => "banner_image") %>
							<div u="thumb">IDEAL EDUCATION MANAGEMENT & TECHNOLOGY</div>
						</div>
						<div>
							<%= image_tag(('03.jpg'), :class => "banner_image") %>
							<div u="thumb">IDEAL EDUCATION MANAGEMENT & TECHNOLOGY</div>
						</div>
						<div>
							<%= image_tag(('04.jpg'), :class => "banner_image") %>
							<div u="thumb">IDEAL EDUCATION MANAGEMENT & TECHNOLOGY</div>
						</div>
					</div>
					<div u="thumbnavigator" class="sliderb-T" style="position: absolute; bottom: 0px; left: 0px; height:45px; width:600px;">
						<div style="filter: alpha(opacity=40); opacity:0.4; position: absolute; display: block;background-color: #000000; top: 0px; left: 0px; width: 100%; height: 100%;">
						</div>
						<div u="slides">
							<div u="prototype" style="position: absolute; width: 600px; height: 45px; top: 0; left: 0;">
								<div u="thumbnailtemplate" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; font-family: verdana; font-weight: normal; color:#fff; line-height: 45px; font-size:20px; padding-left:10px;"></div>
							</div>
						</div>
					</div>
					<div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
						<div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
					</div>
					<span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 170px; left: 8px;">
					</span>
					<span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 170px; right: 8px">
					</span>
					<script>
						jssor_sliderb_starter('sliderb_container');
					</script>
				</div>
			</center>
		</div>
		<div class="col-md-12" style="margin-top:20px;"></div>
		<div class="col-md-4">
			<div class="box">
				<h4>NEWS & UPCOMINGS</h4>
				<p><b>Global College of Law - Admission Open</b></p>
				<p><%= link_to "Click Here For Admission Form", ideal_institute_show_pdf_path(admission_form: "gcl_form"), target: '_blank' %></p>
			</div>
			<br>
			<%= link_to "Student Login", new_admin_user_session_path, class: "btn btn-default center_login" %> 
			<%= image_tag(('5.jpg'), :class => "image_index") %>
			<div class="col-md-12" style="margin-top:20px;"></div>
			<h3><center>Student Support No.</center></h3>
			<h3><center>011-40554732</center></h3>
		</div>
		<div class="col-md-8 rt-content">
			<div class="box">
				<h4>Distance Learning Courses | Distance Education Courses</h4>
				<p>Ideal Education Management & Technology as distance education centers in Delhi was established by the Ideal Education Group , duly registered by the govt. of NCT of Delhi under Societies Registration act XXI of 1860.</p>
				<p>IEMT has been appointed as a UGC/AICTE and DEC approved Universities admission center to Facilitate Admissions in certificate, diploma, graduate and post – graduate courses like BSC, BBA, MBA, B.Tech, M.Tech, MCA, MCom, PHD, LLB, ITI and Polytechnic Diploma.</p>
				<p>IEMT offers you quality Distance Education Courses in Delhi to enhance your career, designed to provide you with specialist knowledge of international business, so that you get a truly international perspective, rather than one, that is solely relevant for one country. The wide range of electives allows you to build a program to meet your career objectives. The flexibility of these distance learning courses allows you to fit your studies around your personal and professional commitments.</p>
				<h4>Our Vision</h4>
				<p> we have pioneered the concepts of Distance Learning MBA. In future IEMT will be a world leader in preparing professionals who provide leadership and exemplary educational and related services to improve the lives of individuals in a changing and complex global society.</p>
				<h4>Our Mission</h4>
				<p>"To be the premier source for quality education, training, and professional certification, serving the needs and advancing the excellence of hospitality schools and industries worldwide."</p>
			</div>
		</div>
		<div class="col-md-12" style="margin-top:20px;"></div>
	</div>
	<div class="row top-header bottom">
		<div class="col-md-12">
			<ul>
				<li><%= link_to "Privacy Policy |", ideal_institute_policy_path %></li>
				<li><%= link_to "Refund & Cancellation Policy |", ideal_institute_refund_path %></li>
				<li><%= link_to "Terms & Conditions |", ideal_institute_terms_path %></li>
				<li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Copyright &copy 2015. All rights reserved. |</li>
				<li>Ideal Education Institute Management & Technology.</a></li>
			</ul>
		</div>
	</div>
</div>