<div class="col-md-8">
	<div class="row top-header">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<ul class="inline-list">
				<li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Student Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Enroll Now |", root_path %></li>
				<li><%= link_to "Home |",  ideal_institute_index_path %></li>
				<li><%= link_to "About Us |", ideal_institute_about_us_path %></li>
				<li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
	</div>
	<div class="row top-header main">
		<div class="col-md-8" style="padding-top: 1%;padding-bottom: 1%;">
			<div class="col-md-4">
				<style>.logo {width:%;}</style>
				<%= image_tag(('logo.png'), :class => "logo img-responsive") %>
			</div>
			<div class="col-md-8" style="padding-top: 4%;">	
				<h4 style="font-size: 24px;"><%= link_to "IDEAL EDUCATION INSTITUTE MANAGEMENT & TECHNOLOGY", ideal_institute_index_path %></h4>
			</div>
		</div>
		<div class="col-md-4" style="padding-top:3%;">
      <ul class="inline-list">
        <li><span style="font-size:12px;">Follow Us : </span></li>
        <li><a href="#" class="fa fa-facebook-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-twitter-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-google-plus-square" style="font-size:24px;"></a></li>
      </ul>
			<h5>Email Id : info@ieimt.org</h5>
    	<h5>Contact No.: 011-40554732, 9212900683</h5>
    </div> 
		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
					<ul class="nav navbar-nav">
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Courses & Fees <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Engineering Courses", ideal_institute_show_pdf_path(course_type: "engineering"), target: '_blank' %></li>
								<li><%= link_to "Management Courses", ideal_institute_show_pdf_path(course_type: "management"), target: '_blank' %></li>
							</ul>
						</li>
						<li><%= link_to "Procedure", ideal_institute_procedure_path %></li>
						<li><%= link_to "Accreditations", ideal_institute_accreditations_path %></li>
						<li><%= link_to "Training & Placement", ideal_institute_training_placement_path %></li>
						<li class="active"><%= link_to "Verification", ideal_institute_verification_path %></li>
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Universities <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%#= link_to "Regular Universities", ideal_institute_universities_path(university_type: "Regular University") %>
								<%= link_to "Regular Universities" %></li>
								<li><%#= link_to "Distance Universities", ideal_institute_universities_path(university_type: "Distance University") %>
								<%= link_to "Distance Universities", ideal_institute_universities_path %></li>
							</ul>
						</li>
						<li style="border-right: none;">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "About us", ideal_institute_about_us_path %></li>
								<li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
								<li><%= link_to "Extras" %></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-md-12" style="margin-top:20px;"></div>
		<div class="col-md-12 rt-content">
			<div class="box">
				<h4>Result Cum Detail Marks Certificate</h4>
				<div class="row">
				<% if !@result.present? %>
					<center><h3>result not found...</h3></center>
				<% else %>
				
					<div class="col-md-12">
						<div class="col-md-4" style="padding-top: 7%;text-align: center;">
							<%= image_tag((@result.student.image_url), :class => "student_image") %>
						</div>
						<div class="col-md-8">
							<ul class="marks_detail">
								<li><p><b>Certificate No. :</b> <%= @result.certificate_no %></p></li>
								<li><p><b>Enrolment No. :</b> <%= @result.student.enrolment_no %></p></li>
								<li><p><b>Course :</b> <%= @result.student.course.name %></p></li>
								<!-- <li><p><b>Branch :</b> <%#= @result.certificate_no %></p></li>
								<li><p><b>Centre Code :</b> <%#= @result.certificate_no %></p></li> -->
								<li><p><b>Mode :</b> <%= @result.student.university.university_type %></p></li>
								<li><p><b>Student's Name :</b> <%= @result.student.name %></p></li>
								<li><p><b>Father's Name :</b> <%= @result.student.father_name %></p></li>
								<li><p><b>Mother's Name :</b> <%= @result.student.mother_name %></p></li>
								<li><p><b>Date of Birth :</b> <%= @result.student.dob.to_time.strftime("%d-%m-%Y") %></p></li>
								<li><p><b>Roll No. :</b> <%= @result.student.roll_no %></p></li>
							</ul>
						</div>
					</div>
					<div class="col-md-12 table-responsive">
						<table class="table table-striped">
							<th>Subject Code</th>
							<th>Subject Name</th>
							<th>Maximum Marks</th>
							<th>Marks Obtained</th>
							<% @sum = 0 %>
							<% @result.marks.each do |mark| %>
							  <tr>
							    <td><%= mark.subject.code %></td>		  
							    <td><%= mark.subject.name %></td>
							    <td>100</td>
							    <td><%=mark.marks_obtained %></td>
							    <% @sum = @sum + mark.marks_obtained %>
							  </tr>
							<% end %> 
						</table>
					</div>
					<div class="col-md-4">
						<ul style="list-style-type:none;">
							<li><i>Pass Marks</i> 40%</li>
							<li><i>First Division</i> 50%</li>
							<li><i>Second Division</i> 60%</li>
						</ul>
					</div>
					<div class="col-md-4"><b>Maximum Marks :</b> <%= @result.marks.length * 100 %></div>
					<div class="col-md-4"><b>Total Marks Obtained :</b> <%= @sum %></div>
				<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="margin-top:20px;"></div>
	</div>
	<div class="row top-header bottom">
		<div class="col-md-12">
			<ul>
				<li><%= link_to "Privacy Policy |", ideal_institute_policy_path %></li>
				<li><%= link_to "Refund & Cancellation Policy |", ideal_institute_refund_path %></li>
				<li><%= link_to "Terms & Conditions |", ideal_institute_terms_path %></li>
				<li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Copyright &copy 2015. All rights reserved. |</li>
				<li>Ideal Education Institute Management & Technology.</li>
			</ul>
		</div>
	</div>
</div>







