<div class="col-md-8">
	<div class="row top-header">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<ul class="inline-list">
				<li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Student Login |", new_admin_user_session_path %></li>
			  <li><%= link_to "Enroll Now |", root_path %></li>
			  <li><%= link_to "Home |",  ideal_institute_index_path %></li>
			  <li><%= link_to "About Us |", ideal_institute_about_us_path %></li>
			  <li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
	</div>

	<div class="row top-header main">
		<div class="col-md-8" style="padding-top: 1%;padding-bottom: 1%;">
			<div class="col-md-4">
				<style>.logo {width:%;}</style>
				<%= image_tag(('logo.png'), :class => "logo img-responsive") %>
			</div>
			<div class="col-md-8" style="padding-top: 4%;">	
				<h4 style="font-size: 24px;"><%= link_to "IDEAL EDUCATION INSTITUTE MANAGEMENT & TECHNOLOGY", ideal_institute_index_path %></h4>
			</div>
		</div>
		<div class="col-md-4" style="padding-top:3%;">
      <ul class="inline-list">
        <li><span style="font-size:12px;">Follow Us : </span></li>
        <li><a href="#" class="fa fa-facebook-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-twitter-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-google-plus-square" style="font-size:24px;"></a></li>
      </ul>
			<h5>Email Id : info@ieimt.org</h5>
    	<h5>Contact No.: 011-40554732, 9212900683</h5>
    </div>

		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
				  <ul class="nav navbar-nav">

						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Courses & Fees <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Engineering Courses", ideal_institute_show_pdf_path(course_type: "engineering"), target: '_blank' %></li>
								<li><%= link_to "Management Courses", ideal_institute_show_pdf_path(course_type: "management"), target: '_blank' %></li>
							</ul>
						</li>
					  <li class="active"><%= link_to "Procedure", ideal_institute_procedure_path %></li>
					  <li><%= link_to "Accreditations", ideal_institute_accreditations_path %></li>
					  <li><%= link_to "Training & Placement", ideal_institute_training_placement_path %></li>
					  <li><%= link_to "Verification", ideal_institute_verification_path %></li>
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Universities <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%#= link_to "Regular Universities", ideal_institute_universities_path(university_type: "Regular University") %>
								<%= link_to "Regular Universities" %></li>
								<li><%#= link_to "Distance Universities", ideal_institute_universities_path(university_type: "Distance University") %>
								<%= link_to "Distance Universities", ideal_institute_universities_path %></li>
							</ul>
						</li>
            <li style="border-right: none;">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "About us", ideal_institute_about_us_path %></li>
                <li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
                <li><%= link_to "Extras" %></li>
              </ul>
            </li>
				  </ul>
				</div>
				</nav>
			</div>

		<div class="col-md-12" style="margin-top:20px;"></div>

		<div class="col-md-12 rt-content">
			<div class="box">
				<h4>Admission Procedures</h4>
				<p>Students can apply for any of the mentioned programs based on the eligibility criteria.</p>
				<p>Lateral entry can be provided as per the university terms based on last qualification.</p>
				<p>Work experience is not counted in any university program except EMBA.</p>
				<h4>Admission on site</h4>
				<p>For taking admission student have to submit self attested Xerox copy of following documents to any authorized center, Head office and corporate office of IEMT.</p>
				<ul>
					<li>Xerox copy of academic documents self-attested with provisional certificate/degree/migration.</li>
					<li>Xerox of a valid ID.</li>
					<li>Xerox copy of a valid Photo ID Proof. </li>
					<li>5 Passport size colored photograph.</li>
					<li>An Updated CV.</li>
				</ul>
				<h4>Process after Admission</h4>
				<ul>
					<li><b><i>DAY 1</i> :</b> Enrollment process.</li>
					<li><b><i>DAY 10 to 20</i> :</b> Admission Confirmation Letter & Student ID card.</li>
					<li><b><i>DAY 45 to 60</i> :</b> Student material and books will be provided based on the payment mode made at the correspondence address of student.</li>
				</ul>
				<p><b><i>Lateral entry can be provided on behalf of work experience	as per the IEMT terms & norms.</b></i></p>
				<h4>Admission Procedure for University Courses</h4>
				<p>Students can apply for any of the mentioned programs based on the eligibility criteria at any branch office or online.</p>
				<ul>
					<li><b><i>DAY 1</i> :</b> Enrollment process.</li>
					<li><b><i>DAY 10</i> :</b> Welcome letter.</li>
					<li><b><i>DAY 60 to 90</i> :</b> Study materials and ID card will be provided based on the university criteria made by courier at correspondence address.</li>
				</ul>
			</div>
		</div>
		<div class="col-md-12" style="margin-top:20px;"></div>
	</div>
	<div class="row top-header bottom">
		<div class="col-md-12">
			<ul>
				<li><%= link_to "Privacy Policy |", ideal_institute_policy_path %></li>
          <li><%= link_to "Refund & Cancellation Policy |", ideal_institute_refund_path %></li>
          <li><%= link_to "Terms & Conditions |", ideal_institute_terms_path %></li>
          <li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Copyright &copy 2015. All rights reserved. |</li>
				<li>Ideal Education Institute Management & Technology.</li>
			</ul>
		</div>
	</div>
</div>