<div class="col-md-8">
	<div class="row top-header">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<ul class="inline-list">
				<li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Student Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Enroll Now |", root_path %></li>
				<li><%= link_to "Home |",  ideal_institute_index_path %></li>
				<li><%= link_to "About Us |", ideal_institute_about_us_path %></li>
				<li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
	</div>

	<div class="row top-header main">
		<div class="col-md-8" style="padding-top: 1%;padding-bottom: 1%;">
			<div class="col-md-4">
				<style>.logo {width:%;}</style>
				<%= image_tag(('logo.png'), :class => "logo img-responsive") %>
			</div>
			<div class="col-md-8" style="padding-top: 4%;">	
				<h4 style="font-size: 24px;"><%= link_to "IDEAL EDUCATION INSTITUTE MANAGEMENT & TECHNOLOGY", ideal_institute_index_path %></h4>
			</div>
		</div>
		<div class="col-md-4" style="padding-top:3%;">
      <ul class="inline-list">
        <li><span style="font-size:12px;">Follow Us : </span></li>
        <li><a href="#" class="fa fa-facebook-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-twitter-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-google-plus-square" style="font-size:24px;"></a></li>
      </ul>
			<h5>Email Id : info@ieimt.org</h5>
    	<h5>Contact No.: 011-40554732, 9212900683</h5>
    </div>

		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
					<ul class="nav navbar-nav">

						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Courses & Fees <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Engineering Courses", ideal_institute_show_pdf_path(course_type: "engineering"), target: '_blank' %></li>
								<li><%= link_to "Management Courses", ideal_institute_show_pdf_path(course_type: "management"), target: '_blank' %></li>
							</ul>
						</li>
						<li><%= link_to "Procedure", ideal_institute_procedure_path %></li>
						<li><%= link_to "Accreditations", ideal_institute_accreditations_path %></li>
						<li><%= link_to "Training & Placement", ideal_institute_training_placement_path %></li>
						<li><%= link_to "Verification", ideal_institute_verification_path %></li>
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Universities <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%#= link_to "Regular Universities", ideal_institute_universities_path(university_type: "Regular University") %>
								<%= link_to "Regular Universities" %></li>
								<li><%#= link_to "Distance Universities", ideal_institute_universities_path(university_type: "Distance University") %>
								<%= link_to "Distance Universities", ideal_institute_universities_path %></li>
							</ul>
						</li>
						<li style="border-right: none;">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "About us", ideal_institute_about_us_path %></li>
								<li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
								<li><%= link_to "Extras" %></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="col-md-12" style="margin-top:20px;"></div>

		<div class="col-md-12 rt-content">
			<div class="box">
				<h4>Refund & Cancellation</h4>
				<p><b><i>Cancellation :</i></b></p>
				<p>Ideal Education Management & Technology, believe in providing convenience to parents and students as far as possible.</p>
				<p>The online fees payments facility covers all types of payments that may be made to the college during the course of academic year which may include, but not limited to, quarterly fees, transport fees and other forms of payments.</p>
				<p>Cancellation are permitted for new admissions and governed by the college policy for the given year. Should a child who has been offered admission and has paid admission fees, registration charges and other charges wish to withdraw his name, then deductions according to the college rules for the given academic year will apply.</p>
				<p>Withdrawal of student from the college may be permitted after serving adequate notice as governed by rules and regulations framed for the given academic year.</p>
				<p><b><i>Refund Policy :</i></b></p>
				<p>The college refunds security deposit of students who withdraw after serving required notice and completing other formalities and compliances that are required by rules for the given academic year. The refund of admission fees and or other fees for new applicants to Ideal Education Management & Technology are governed by the rules for the given academic year and published according to Supreme Court guidelines.</p>
			</div>
		</div>
		<div class="col-md-12" style="margin-top:20px;"></div>
	</div>

	<div class="row top-header bottom	">
		<div class="col-md-12">
			<ul>
				<li><%= link_to "Privacy Policy |", ideal_institute_policy_path %></li>
					<li><%= link_to "Refund & Cancellation Policy |", ideal_institute_refund_path %></li>
					<li><%= link_to "Terms & Conditions |", ideal_institute_terms_path %></li>
					<li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Copyright &copy 2015. All rights reserved. |</li>
				<li>Ideal Education Institute Management & Technology.</li>
			</ul>
		</div>
	</div>
</div>