<div class="col-md-8">
	<div class="row top-header">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<ul class="inline-list">
				<li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Student Login |", new_admin_user_session_path %></li>
			  <li><%= link_to "Enroll Now |", root_path %></li>
			  <li><%= link_to "Home |",  ideal_institute_index_path %></li>
			  <li><%= link_to "About Us |", ideal_institute_about_us_path %></li>
			  <li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
	</div>

	<div class="row top-header main">
		<div class="col-md-8" style="padding-top: 1%;padding-bottom: 1%;">
			<div class="col-md-4">
				<style>.logo {width:%;}</style>
				<%= image_tag(('logo.png'), :class => "logo img-responsive") %>
			</div>
			<div class="col-md-8" style="padding-top: 4%;">	
				<h4 style="font-size: 24px;"><%= link_to "IDEAL EDUCATION INSTITUTE MANAGEMENT & TECHNOLOGY", ideal_institute_index_path %></h4>
			</div>
		</div>
		<div class="col-md-4" style="padding-top:3%;">
      <ul class="inline-list">
        <li><span style="font-size:12px;">Follow Us : </span></li>
        <li><a href="#" class="fa fa-facebook-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-twitter-square" style="font-size:24px;"></a></li>
        <li><a href="#" class="fa fa-google-plus-square" style="font-size:24px;"></a></li>
      </ul>
			<h5>Email Id : info@ieimt.org</h5>
    	<h5>Contact No.: 011-40554732, 9212900683</h5>
    </div>

		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
				  <ul class="nav navbar-nav">

					<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Courses & Fees <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Engineering Courses", ideal_institute_show_pdf_path(course_type: "engineering"), target: '_blank' %></li>
								<li><%= link_to "Management Courses", ideal_institute_show_pdf_path(course_type: "management"), target: '_blank' %></li>
							</ul>
						</li>
		  <li><%= link_to "Procedure", ideal_institute_procedure_path %></li>
		  <li><%= link_to "Accreditations", ideal_institute_accreditations_path %></li>
		  <li class="active"><%= link_to "Training & Placement", ideal_institute_training_placement_path %></li>
		  <li><%= link_to "Verification", ideal_institute_verification_path %></li>
					<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Universities <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%#= link_to "Regular Universities", ideal_institute_universities_path(university_type: "Regular University") %>
								<%= link_to "Regular Universities" %></li>
								<li><%#= link_to "Distance Universities", ideal_institute_universities_path(university_type: "Distance University") %>
								<%= link_to "Distance Universities", ideal_institute_universities_path %></li>
							</ul>
						</li>
              <li style="border-right: none;">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "About us", ideal_institute_about_us_path %></li>
                  <li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
                  <li><%= link_to "Extras" %></li>
                </ul>
              </li>
				  </ul>
				</div>
				</nav>
			</div>

		<div class="col-md-12" style="margin-top:20px;"></div>

		<div class="col-md-12 rt-content">
			<div class="box">
				<h4>Training & Placement</h4>
				<p>We have our own placement cell named Ideal Recruitment Services is a leading provider of Talent Management Solutions with comprehensive service offerings that includes Jobs in all over India, Executive search, Executive selection, Temporary ,permanent & Contract Staffing and Recruitment Process Outsourcing (RPO).	</p>
				<p><b><i>What is Training & Placement?</i></b></p>
				<p>Today to join any of the software companies or companies in service and manufacturing sector, one has to go through there recruitment process which mainly consists of Aptitude Test, Group Discussion followed by Personal Interview. Since the number of students/professionals taking these Aptitude Tests is very high, it becomes necessary to clear the cut-off set by the various companies. In our Training & Placement we provide extensive Aptitude Test Training along with exhaustive practice of such tests as well as train students on how to be on top during Group Discussions and Personal Interviews.</p>
				<p><b><i>Why is Training & Placement Important?</i></b></p>
				<p>The number of workforce required in IT & ITES sector is approximately 80 lakh. As per NASSCOM, the workforce in Indian IT industry is expected to touch 3 Crore by 2020. This year, there is a plan to recruit nearly 2.5 lakh engineering graduates and MCAs from various campuses.</p>
				<p>Given the current prevailing air of uncertainty about the economy in emerging and developed markets, companies are always on the look out to cut down on their hiring costs which can be significant for on-campus recruitment with the presence of numerous good colleges all over the country. Most of the companies visiting the college campus take an entrance exam to eliminate good students from the vast pool of students. They also conduct Group discussion on current topics and Personal Interview to get the best candidate. So it becomes mandatory for student to prepare for written tests as well as Group discussions and Personal interview to get placed in the company of their choice.</p>
				<p><b><i>What We Offer in Our Training & Placement?</i></b></p>
				<p>In our Training & Placement, we provide students with books containing exhaustive courseware for Aptitude tests including Practice Exercises and sample test papers for various companies. Students can also take online aptitude tests for various companies and increase their chances of success in placements. Our courseware also contain dos and don’ts of Group Discussions and Personal Interviews.</p>
				<p>Students opting for our classroom Training & Placement programs can undergo extensive Aptitude Test training and real life Group Discussion and Personal Interview training as well.</p>
				<p><b><i>Where This Training Will Help Me?</i></b></p>
				<p>Campus Recruitment training / Placement training helps a lot since most of the students are not in touch with basic Math and English skills. This training helps students to revisit all topics covered in the Aptitude test and they also get an idea what are the different question patterns asked by different companies. In fact they also get acquainted with Group discussion rules and questions that are generally asked in Personal Interview.</p>
				<p><b><i>What are The Subjects Covered Under Training & Placement?</i></b></p>
				<p>Under Training & Placement following topics and subjects are covered:</p>
				<p><b>Aptitude Test :</b></p>
				<ul>
					<li>Quantitative Ability:<br>Arithmetic, Algebra, Geometry, Modern Maths.</li>
					<li>Reasoning:<br>Data Interpretation, Data Sufficiency, Logical Reasoning.</li>
					<li>Verbal Ability:<br>Grammar, Reading Comprehension, Fill in the Blanks, Analogies, Critical Reasoning.</li>
					<li>GD / PI:<br>Dos and Don’ts during Group Discussions and Personal Interview.</li>
					<li>General questions asked during Personal Interview.</li>
				</ul>
				<p><b><i>What All Companies Take This Type of Tests?</i></b></p>
				<p>Companies like Infosys, TCS, Mahindra Satyam, Accenture, Cognizant, IBM, HP, TATA Motors, Wipro, Hero Honda, ICICI Bank, HDFC Bank, BPOs and various other companies from all sectors take aptitude tests for recruitment.</p>
			</div>
		</div>
		<div class="col-md-12" style="margin-top:20px;"></div>
	</div>
	<div class="row top-header bottom	">
		<div class="col-md-12">
			<ul>
				<li><%= link_to "Privacy Policy |", ideal_institute_policy_path %></li>
          <li><%= link_to "Refund & Cancellation Policy |", ideal_institute_refund_path %></li>
          <li><%= link_to "Terms & Conditions |", ideal_institute_terms_path %></li>
          <li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Copyright &copy 2015. All rights reserved. |</li>
				<li>Ideal Education Institute Management & Technology.</li>
			</ul>
		</div>
	</div>
</div>
