<div class="col-md-8">
	<div class="row top-header">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<ul class="inline-list">
				<li><%= link_to "Admin Login |", new_admin_user_session_path %></li>
				<li><%= link_to "Student Login |", root_path %></li>
				<li><%= link_to "Enroll Now |", root_path %></li>
				<li><%= link_to "Home |", ideal_institute_index_path %></li>
				<li><%= link_to "About Us |", ideal_institute_about_us_path %></li>
				<li><%= link_to "Contact Us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
	</div>
	<div class="row top-header main">
		<div class="col-md-8" style="padding-top: 1%;padding-bottom: 1%;">
			<div class="col-md-4">
				<style>.logo {width:%;}</style>
				<%= image_tag(('logo.png'), :class => "logo img-responsive") %>
			</div>
			<div class="col-md-8" style="padding-top: 4%;">	
				<h4 style="font-size: 24px;"><%= link_to "IDEAL EDUCATION INSTITUTE MANAGEMENT & TECHNOLOGY", ideal_institute_index_path %></h4>
			</div>
		</div>
		<div class="col-md-4" style="padding-top:3%;">
			<ul class="inline-list">
				<li><span style="font-size:12px;">Follow Us : </span></li>
				<li><a href="#" class="fa fa-facebook-square" style="font-size:24px;"></a></li>
				<li><a href="#" class="fa fa-twitter-square" style="font-size:24px;"></a></li>
				<li><a href="#" class="fa fa-google-plus-square" style="font-size:24px;"></a></li>
			</ul>
			<h5>Email Id : info@ieimt.org</h5>
			<h5>Contact No.: 011-40554732, 9212900683</h5>
		</div>
		<div class="col-md-12">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0px;">
					<ul class="nav navbar-nav">
						<li>
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Courses & Fees <b class="caret"></b></a>               
							<ul class="dropdown-menu">
								<li><%= link_to "Engineering Courses", ideal_institute_show_pdf_path(course_type: "engineering"), target: '_blank' %></li>
								<li><%= link_to "Management Courses", ideal_institute_show_pdf_path(course_type: "management"), target: '_blank' %></li>
							</ul>
						</li>
						<li><%= link_to "Procedure", ideal_institute_procedure_path %></li>
						<li><%= link_to "Accreditations", ideal_institute_accreditations_path %></li>
						<li><%= link_to "Training & Placement",
							ideal_institute_training_placement_path %></li>
						<li><%= link_to "Verification", ideal_institute_verification_path %></li>
						<li class="active">
							<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">Universities <b class="caret"></b></a>               
							<ul class="dropdown-menu">
								<li><%#= link_to "Regular Universities",
									ideal_institute_universities_path(university_type: "Regular University") %>
									<%=link_to "Regular Universities" %></li>
								<li><%#= link_to "Distance Universities",
									ideal_institute_universities_path(university_type: "Distance University")
									%><%= link_to "Distance Universities", ideal_institute_universities_path
									%></li>
							</ul>
						</li>
						<li style="border-right: none;">
							<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000">More <b class="caret"></b></a>               
							<ul class="dropdown-menu">
								<li><%= link_to "About us", ideal_institute_about_us_path %></li>
								<li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
								<li><%= link_to "Extras" %></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-md-12" style
			="margin-top:20px;"></div>
		<div class="col-md-12 rt-content">
			<div
				class="box">
				<h4>universities</h4>
				<!-- <ul>
				<%#@universities.each do |university| %> 
					<li><%#= university.name %></li>
				<%# end %>   
				</ul> -->         
				<p><b><i>Karnataka State Open University</i></b>
				</p>
				<div class="col-md-2">
					<%= image_tag(('ksou.jpg'), :class => "u_image img-responsive") %>
				</div>
				<div class="col-md-10">
					<p>Karnataka State Open	University (KSOU) was established on 1st June 1996 with the assent of His	Excellency Honorable Governor of Karnataka as a full-fledged University in the academic year 1996 vide Government notification no ED 1 UOV 95 dated 12th February 1996 (KSOU Act – 1992). The act was promulgated with the object to incorporate an Open University at the State level for the introduction and	promotion of Open University and Distance Education systems in the education pattern of the State and for the Co-ordination and determination of standard of such systems.
					</p>
				</div>
				<p><b>RECOGNITIONS</b></p>
				<p>The Karnataka State Open University has been recognized by the following
					well-known organization
				</p>
				<ul>
					<li>The Distance
						Education Council (DEC) New Delhi,
					</li>
					<li>Regular member of the
						Association of Indian Universities (AIU), Delhi,
					</li>
					<li>Permanent member of Association of Commonwealth Universities (ACU) London
						UK,
					</li>
					<li>Asian Association of Open Universities (AAOU),
						Beijing, China,
					</li>
					<li>And also has association with
						Commonwealth of Learning (COL).
					</li>
				</ul>
				</p>
				<ul>
					<li>With the virtue of KSOU Act of 1992, Karnataka State Open
						University is empowered to establish, maintain or recognize Colleges, Regional
						Centers and Study Centers at such places in Karnataka and may also open
						outside Karnataka at such places as it deems fit.
					</li>
					<li>Distance Education Council (DEC), New Delhi, has accorded recognition to
						Karnataka State Open University, Mysore for offering Programmes / Courses
						approved by the Statutory bodies of the University. Karnataka State Open
						University is a recognized University of Distance Education Council under the
						aegis of Ministry of Human Resource Development (MHRD) (Revised notification
						F. No. DEC/OU/Recog./2008). 
					</li>
					<li>Karnataka State Open
						University is a regular member of the Association of Indian Universities
						(AIU), New Delhi since 1999 (No. EV/11(80)/99/203935-4172). 
					</li>
					<li>Karnataka State Open University is a permanent member of Association of
						Commonwealth Universities (ACU), London, United Kingdom since 1999. Its member
						code is: ZKASOPENUINI. 
					</li>
					<li>Karnataka State Open University
						is a permanent member of Asian Association of Open Universities (AAOU),
						Beijing, China since 1999. 
					</li>
					<li>Karnataka State Open
						University has association with Commonwealth of Learning (COL), Vancouver,
						Canada since 2003. COL is an intergovernmental organization created by
						Commonwealth Heads of Government to encourage the development and sharing of
						open learning / distance education knowledge, resources and technologies.
					</li>
				</ul>
				<hr>
				<p><b><i>Mahatma Gandhi	University</i></b>
				</p>
				<div class="col-md-2">           <%=
					image_tag(('mgu.png'), :class => "u_image img-responsive") %>         </div>
				<div class="col-md-10">
					<p>Mahatma Gandhi University (M.G.U) is
						established through Meghalaya State legislative Act, 2010 (Meghalaya Act No.6
						of 2011), published in the Gazette of Meghalaya vide No.LL (B).138/2010/41.
						The Promoting body of MGU has vast experience in the field of Education.
						University is setup with an objective of providing best quality education to
						the students.
					</p>
				</div>
				<p>Mahatma Gandhi University is
					empowered to award degrees as specified by the University Grants Commission
					(UGC) under section 22 of the UGC Act 1956. Earn your degree on your terms.
					Whether you choose to learn online or at a local campus, you can count on our
					challenging curriculum and a supportive learning environment.
				</p>
				<p>Mahatma Gandhi University an institution which promises to become one of
					India’s leading universities with an acknowledged reputation for excellence in
					research and teaching. Needless to say it has achieved resounding success in
					all its ventures including professional education. MGU has emerged as a global
					university with boasting distinctive strengths in education and
					entrepreneurship. As a platform for excellence in teaching, learning &
					administration, state-of-the-art information technology is extensively used in
					M.G.U, contributing to the development of well trained graduates, post
					graduates and doctorates to meet the professional manpower needs of not just
					India but the world.
				</p>
				<hr>
				<p><b><i>Manav Bharti University</i></b>
				</p>
				<div class="col-md-2">           
				<%=	image_tag(('mbu.png'), :class => "u_image img-responsive") %>        
				 </div>
				<div class="col-md-10">
					<p>Manav Bharti University was established
						in 2009 under the H.P. Private University (Establishment & Regulation) Act and
						is owned by Manav Bharti Charitable Trust with the aim to advance and
						disseminate the knowledge and maintain highest standard of learning through
						teaching, research, extension education programme and conceptual aspects
						relevant to the need of the state. The University is committed to make all
						round social transformation through spread of quality education in rural
						area.
					</p>
				</div>
				<p>Two free charitable hospitals cum
					laboratories are being run by “Manav Bharti Charitable Trust” for needy and
					poor people. This trust has earned a reputation in the field of employment
					based education.Manav Bharti University is a government recognized University
					with the right to confer degrees as per the sections 2f and 22(1) of the UGC
					Act, 1956.Manav Bharti University has taken all the required approval from the
					respective regulatory bodies for the conduct of professional courses.
				</p>
				<p><b>University Grants Commissions (UGC)</b></p>
				<p>
					Manav Bharti
					University is notified by University Grants Commission under Section 2(f) of
					UGC Act 1956. University is empowered to award degrees as specified by the UGC
					under Section 22 of the UGC Act 1956 through its main campus.<br>         <!--
						Click here to view approval from UGC. Click here to view the reply of RTI from
						UGC. -->         Govt. of Himachal Pradesh<br>         Manav Bharti University
					has been established by Act. No. 22 of 2009 of State Legislature of Himachal
					Pradesh as a State Private University.         <!-- Click here to view
						approval from Govt. of Himachal Pradesh. -->
				</p>
				<p><b>Pharmacy
					Council of India (PCI)</b>
				</p>
				<p>
					The Department of Pharmacy of MBU is
					offering Diploma and Bachelors program in Pharmacy. The department is duly
					approved by the Pharmacy Council of India. This is the basic pre-requisite for
					registration to practice as a pharmacist in India and many other countries.
					<!-- Click here to view approval from PCI. -->
				</p>
				<p><b>Bar Council
					of India (BCI)</b>
				</p>
				<p>University has established Law College in
					the campus which is offering LLB – 3 Years & BA LLB – 5 Years. The permission
					of Bar Council of India (BCI) is necessary to run these courses and the
					University has got the approval from BCI.
				</p>
				<hr>
				<p><b><i>Shobhit University</i></b></p>
				<div class="col-md-2">
					<%= image_tag(('su.png'), :class => "u_image img-responsive") %>
				</div>
				<div class="col-md-10">
					<p><b>Recognition of courses
						conducted by the Universities through Academic Centres/ Study Centres / Off
						campus centres</b>
					</p>
					<p><b>Letter No F-23-1/2003-TS III dated
						No17-2 2004</b>
					</p>
					<p>All the degrees /diplomas awarded through by
						the Universities established by Act of Parliament or State Legislation, Deemed
						to be Universities under Section 3 of the UGC Act 1956 and institutions of
						National importance declared under an Act of the Parliament stand
						automatically recognized for the purpose of employment under the central
						government. No formal orders recognizing such degrees/ diplomas are necessary
						to be issued.
					</p>
				</div>
				<p>Recognition of Qualifications for
					Employment Government of India, Ministry of Human Resource Development
					(Department of Education)         To be published in Gazette of India - Part I
					section 4 Notification ( 44)
				</p>
				<p>The Board of Assessment for
					Educational Qualifications, the Government of India has declared that degrees
					/ diplomas awarded through Distance Education by the Universities established
					by Act of Parliament or State Legislation, Deemed to be Universities under
					Section 3 of the UGC Act 1956 and institutions of National importance declared
					under and Act the Parliament stand automatically recognized for the purpose of
					employment to posts and services provided it has been approved by Distance
					Education council, IGNOU, New Delhi. 
				</p>
				<hr>
				<p><b><i>Vinayaka	Mission`s University</i></b>
				</p>
				<div class="col-md-2">           
				<%=	image_tag(('vmu.png'), :class => "u_image img-responsive") %>         </div>
				<div class="col-md-10">
					<p>University status was conferred by
						Ministry of Human Resources Development, Government of India with the
						recommendations of UGC (Established Under Section 3 of the UGC Act 1956) to
						Vinayaka Mission as an acknowledgement of excellence and satisfaction for the
						highest levels of academic standards and its best infrastructure facilities
						provided to achieve excellence in education.
					</p>
				</div>
				<p>&nbsp</p>
				<hr>
				<p><b><i>Allahabad Agricultural Institute–(Sam Higginbottom Institute of Agricutlure, Technology & Sciences.)</i></b>
				</p>
				<div class="col-md-2">           
				<%= image_tag(('aai.png'), :class => "u_image	img-responsive") %> 
				        </div>
				<div class="col-md-10">
					<p>Deemed University (AAI-DU) is a multi faculty Christian university of
						Allahabad. The Agricultural Institute was established under the leadership of
						Dr. Sam Higginbottom in 1910. It provides quality education to its students by
						providing well-structured syllabus, high faculty standard & placement
						opportunities. The main objective of the university is to promote and provide
						instruction and training in areas of study relevant to Agriculture, Rural
						Economic Development, Agricultural Engineering & Technology, AIEIMTal Health,
						Human Health, Sanitation, Home Science Management, Community Development,
						Health Education, Christian Studies and other relevant Sciences, Technologies
						and Humanities for all round improvement in the quality of student's life.
					</p>
				</div>
				<ul>
					<li>In October, 1947 the Institute was brought
						under an independent Board of Directors.
					</li>
					<li>The State Govt. of
						U .P. certified the Allahabad Agriculture Institute as a Minority Educational
						Institution within the meaning of clause (i) of article 30 of the Constitution
						of India, vide their letter No. 4894 15-80 (ii) dated the 12th of Sept. 1980
						and also certified as a Minority Institution by the U.P. Higher Education
						Service Commission, vide letter No. 250/ 258/83-84 dated 24/5/1983. From the
						year 1980-1995.
					</li>
					<li>On 15th March 2000, the Allahabad
						Agricultural Institute was declared as Deemed University.
					</li>
					<li>In January, 2005 NAAC (An autonomous body of UGC) accredited the
						University with B++ grade.
					</li>
					<li>The University has a Distance
						Education Section, which is approved by the Distance Education Council (DEC),
						IGNOU, New Delhi.
					</li>
				</ul>
				<hr>
				<p><b><i>IASE University</i></b>
				</p>
				<div class="col-md-2">           
				<%=	image_tag(('iase.png'), :class => "u_image img-responsive") %>         </div>
				<div class="col-md-10">
					<p>The Institute of Advanced Studies in
						Education (IASE) was sponsored by a non-governmental, Non-profit-motive making
						registered society, namely, Gandhi VidyaMandir (GVM). The Government of India
						has accorded it the formal recognition of Deemed University, under Section 3
						of the UGC Act-1956 vide notification F.9-29/2000-U.3 of 25th June 2002, and
						by the UGC vide notification F.6-25/2001 (cpp-i) of 27th DECEMBER 2002.
					</p>
				</div>
				<p>The University is nestled like an oasis in the Thar desert,
					near the town of Sardarshahr in India ’s north-western state of Rajasthan. It
					is about 300 km west of Delhi , 125 km east of Bikaner and 250 km north of
					Jaipur (connected by rail and road). GVM has its own triad of helipads.
				</p>
				<hr>
				<p><b><i>Institute of Management Technology</i></b></p>
				<div
					class="col-md-2">           
					<%= image_tag(('imt.png'), :class => "u_image img-responsive", :style => "width:100%") %>         </div>
				<div class="col-md-10">
					<p>Education is the acquisition of the art of utilization of knowledge.
						Knowledge in the management field, like other disciplines, is expanding very
						fast. Education is central to the human resources development and empowerment
						in any country, and the quality of education is judged by the kind of humans
						it produces. Education is the means whereby adults pass on their beliefs and
						values to their children.
					</p>
				</div>
				<p>The growing
					internationalisation of higher education, especially professional courses and
					institutions, increasing international co-operation and the emergence of new,
					transnational education providers are posing a challenge to national higher
					education systems. The new knowledge-based society demands managers who are
					flexible and versatile. They need to learn continuously and upgrade their
					skills as the technology advances. Innovative forms of transnational education
					based on internet have been opened to students around the world. This has made
					distance education more vibrant and a rewarding experience. 
				</p>
				<hr>
				<p><b><i>Board of High School and Intermediate Education UttarPradesh, Allahabad</i></b>
				</p>
				<div class="col-md-2">           
				<%= image_tag(('boa.png'), :class => "u_image img-responsive") %>         </div>
				<div class="col-md-10">
					<p>The Board was set up in the year 1921 at
						Allahabad by an act of United Provinces Legislative Council. It conducted its
						first examination in 1923. This Board is one in India which, from the very
						start, had adopted 10+2 system of examination. The first public examination
						after 10 years education is High School Examination and after the 10+2 stage,
						there is Intermediate Examination. Prior to 1923, University of Allahabad was
						the examining body of these two examinations.
					</p>
				</div>
				<p>&nbsp</p>
				<hr>
				<p><b><i>The National Institute of Open	Schooling (NIOS)</i></b>
				</p>
				<div class="col-md-2">           
					<%=	image_tag(('nios.png'), :class => "u_image img-responsive") %>         
				</div>
				<div class="col-md-10">
					<p>Formerly known as National Open School
						(NOS) was established in November,1989 as an autonomous organisation in
						pursuance of National Policy on Education 1986 by the Ministry of Human
						Resource Development (MHRD), Government of India. NIOS is providing a number of Vocational, Life Enrichment and community
					oriented courses besides General and Academic Courses at Secondary and Senior
					Secondary level. It also offers Elementary level Courses through its Open
					Basic Education Programmes (OBE). 
					</p>
				</div>
				<p>Government of India through a gazette
					notification vested NIOS with the authority to examine and certify learners
					registered with it upto pre degree level courses.
				</p>
				<hr>
				<p><b><i>Shridhar University</i></b></p>
				<div class="col-md-2">
					<%= image_tag(('sdu.png'), :class => "u_image img-responsive") %>
				</div>
				<div class="col-md-10">
					<p>Shridhar University is a
						full-fledged ISO 9001:2008 Certified Self financed University established by
						the Government of    Rajasthan vides Gazette dated 3/4/2010, notified by UGC
						under Section 2(f) of UGC Act, 1956 vide F.No. 8-3/2010(CPP-I/PU) dated 31
						May’2010.
					</p>
				</div>
				<p>Approved by AICTE & Bar Council of
					India for conducting Engineering course & Law courses vide Letter No.
					BOI.D161/2012 (LE. Mtg. Nov.2011)It is an initiative of Sarvhit Trust
					(Meerut), a nonprofit welfare organization. Founder and Chairperson of the
					University, Vijay Pal Yadav is a visionary, scholar and a dynamic leader who
					believes in transforming society through education and innovation.
				</p>
				<hr>
				<!-- <p><b><i>Monad University</i></b></p>
				<div class="col-md-2">
					<%#= image_tag(('mu.png'), :class => "u_image img-responsive") %>
				</div>
				<div class="col-md-10">
					<p>Monad University, Hapur has been established vide Act No.23 of 2010 of the Government of Uttar Pradesh. This has  been published in its Official Gazette on October 12, 2010.
						A letter of authorization from the Government of Uttar Pradesh has also been
						issued on dated January 11, 2011. Subsequently, Monad University has come into
						existence and has started its operations.
					</p>
				</div>
				<p>Monad Educational Society (MES), a Delhi based non-profitable society is the
					premiere sponsoring organization responsible for setting up of Monad
					University. Monad, the university is anticipated to be the next biggest
					university in not only the city but the world, encouraging three objectives
					that are 'personal growth, 'efficacy in life', and 'public welfare'. The
					university has been established with a commitment to provide a friendly
					atmosphere to the students where they can learn freely, find solutions to the
					day-to-day challenges of life and prosper to become the leaders of coming
					generation.
				</p>
				<hr> -->
				<p><b><i>Sunrise University</i></b></p>
				<div class="col-md-2">           
				<%= image_tag(('sru.jpg'), :class => "u_image	img-responsive") %>         </div>
				<div class="col-md-10">
					<p>Sunrise University is situated on a sprawling campus of 30 acres in the
						National Capital Region Alwar which is also known as “Tiger Gate of
						Rajasthan”. It is established under Sunrise University Act, 2011 (Act No. 22
						of 2011) and recognized by University Grant Commission u/s 2(f) of UGC Act,
						1956. Sunrise University is a venture of well known and reputed educational
						group “IET Group of Institutions”. The Success story of the IET Group of
						Institutions which started with the establishment of IET Engineering College
						Alwar in the year 1998, is continuing with a new chapter being added to it
						every year.
					</p>
				</div>
				<p>The Group is ISO 9001 : 2000
					Certified institution and also got NBA Accreditation for international quality
					in education by Govt. of India. Presently 2 Engineering Colleges, one Pharmacy
					College and one Homoeopathic Medical Colleges are running under the IET Group.
					The Group is running B.Tech., M.Tech., MBA, MCA, B.Pharmacy, M.Pharmacy, BHMS
					Degree Courses, with the approval of AICTE, Govt. of Rajasthan and affiliated
					to Rajasthan Technical University, Kota, Rajasthan University of Health
					Sciences, Jaipur, & Rajasthan Ayurved University, Jodhpur. Presently approx.
					8000+ students from different parts of the country are studying in the IET
					Group in different disciplines. Best Engineering College of Rajasthan - 2010,
					2011 & 2012 Awards have been awarded by Dr. Kiran Bedi, Mr. Chetan Bhagat and
					Mr. Shashi Tharoor.
				</p>
			</div>
		</div>
		<div class="col-md-12"
			style="margin-top:20px;"></div>
	</div>
	<div class="row top-header bottom">
		<div class="col-md-12">
			<ul>
				<li><%= link_to "Privacy Policy |", ideal_institute_policy_path %></li>
				<li><%= link_to "Refund & Cancellation Policy |", ideal_institute_refund_path %></li>
				<li><%= link_to "Terms & Conditions |", ideal_institute_terms_path %></li>
				<li><%= link_to "Contact us", ideal_institute_contact_us_path %></li>
			</ul>
		</div>
		<div class="col-md-12">
			<ul>
				<li>Copyright &copy 2015. All rights reserved. | </li>
				<li>Ideal Education Institute Management & Technology.</li>
			</ul>
		</div>
	</div>
</div>

