<form method="get" id="q_search" class="filter_form" action="/admin/results/update_subjects" accept-charset="UTF-8" data-remote="true">
  <div class="filter_form_field filter_string">
    <label for="q_email" class="label">Search Student Enrolment No.</label><br/>
    <input type="text" name="q[email_contains]" id="q_email" />
    <br/><br/>
    <input type="submit" value="Go" name="commit" id="q_submit" />
  </div>
</form>
