<table class="table table-striped">
	<th>Subject Code</th>
	<th>Subject Name</th>
	<th>Maximum Marks</th>
	<th>Marks Obtained</th>
	<% @sum = 0 %>
	<% @result.marks.each do |mark| %>
	  <tr>
		<td><%= mark.subject.code %></td>         
		<td><%= mark.subject.name %></td>
		<td>100</td>
		<td><%=mark.marks_obtained %></td>
		<% @sum = @sum + mark.marks_obtained %>
	  </tr>
	<% end %> 
</table>