<div>
	<table>
		<th>Subject Code</th>
		<th>Subject Name</th>
		<th>Maximum Marks</th>
		<th>Marks Obtained</th>
		<% @subjects.each_with_index do |subject, index| %>
		  <tr>
		  <%# index = 0 %>
		    <td><%= subject.code %></td>		  
		    <td><%= subject.name %></td>
		    <td>100
		    	<%= hidden_field_tag "[result][marks_attributes][#{index.to_i}][max_marks]", '100'%>
					<%= hidden_field_tag "[result][student_id]", @student.id %>

		    	<%#= number_field_tag "result[marks_attributes][#{index.to_i}][max_marks]", 'subject.marks.max_marks' %>
		    </td>
		    <td>
		    	<%= hidden_field_tag "[result][marks_attributes][#{index.to_i}][subject_id]", "#{subject.id}"%>

		    	<%= number_field_tag "result[marks_attributes][#{index.to_i}][marks_obtained]", 'subject.marks.marks_obtained' %>
		    </td>
		    <%# index = index+1%>
		  </tr>
		<% end %> 
	</table>	
</div>	
        