html, body.active_admin, #header, #header #utility_nav, #header h1.site_title {
	background: url(bg.jpg) repeat scroll 0% 0% transparent;
}
span, .pagination_information, .pagination_information b, #header a, #header a:link, table.index_table td, .sidebar_section.panel .filter_form_field label, form fieldset.actions li.cancel a, #title_bar .action_items span.action_item > a, .blank_slate_container .blank_slate, form fieldset ol > li label, .attributes_table table th, .attributes_table table td {
	color: #000;
}
#header ul.tabs > li a {
	padding: 6px 10px;
}
#title_bar {
	border-color: -moz-use-text-color -moz-use-text-color #FFF;
}
#title_bar .action_items span.action_item > a:hover {
	color: #fff;
	text-shadow: none;
}
.blank_slate_container .blank_slate small {
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}
.blank_slate_container .blank_slate .welcome {
	color: #000;
	font-size: 20px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	text-shadow: none;
	line-height: 1.8em;
}
form li {
	padding-bottom: 10px;
}
.ui-datepicker table.ui-datepicker-calendar {
	width: 100%;
}
.ui-datepicker .ui-datepicker-header {
	width: 100%;
	height: auto;
	padding: 1px;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7);
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month {
  margin: 1px 0px;
 }
.ui-datepicker .ui-datepicker-header a.ui-datepicker-next,.ui-datepicker .ui-datepicker-header a.ui-datepicker-prev {
	margin-top: 10px;		
}
ul {
	margin-right: 0px;
}
#footer {
	background: rgba(48, 29, 12, 0.86);
	/*position: relative;*/
}