body {
	background: url('bg.jpg') repeat scroll 0% 0% transparent;
	/*font-family: cursive;*/
}
.top-header {
	/*margin-right: 10%;*/
	/*margin-left: 10%;*/
}
.u_image {
	display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 100%;*/
}
.top_contact {
	float: right;
}
.top_contact li {
	list-style-type: none;
	font-size: 12px;
}
ul.inline-list {
	margin-top: 10px;
	padding: 0px;
	text-align: center;
}
.inline-list li {
	display:inline-block;
}
.inline-list li.active a {
	color: #FFF;
}
.inline-list li a {
	text-decoration: none;
	color: #000;
}
.inline-list li a:hover {
	color: #FFF;
}
.inline-list li .fa:hover {
	color: #1E9A9A;
}
.main {
	background: #FFF;
	box-shadow: 0px 1px 10px black;
	border-radius: 5px;
}
.main h5 {
	font-size: 12px;
}
.main h4, .main h5 {
	text-align: center;
}
.main h4 a {
	/*color: #1E9A9A;*/
	text-shadow: 1px 1px 1px #000;
	color: #CE5E31;
	text-decoration: none;
	font-weight: bold;
}
.main .fa {
	font-size: 30px;
}
.navbar-default {
	background-color: #A69470;
}
.nav > li > a {
	padding-left: 12px;
	padding-right: 12px;
}
ul.navbar-nav {
	margin-top: 0px;
	text-align: center;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	text-transform: uppercase;
	font-size: .82em;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #FFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #FFF;
  background-color: rgba(48, 29, 12, 0.86);
}
.navbar-nav > li {
  display: inline-block;
  border-right: 1px solid black;
}
.center_login {
	width: 100%;
	margin-bottom: 5%;
	font-size: 22px;
}
.box p {
	text-align: justify;
}
.box {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: 1px solid black;
	border-radius: 3px;
}
.box h4 {
	background: url("bg.jpg") repeat scroll 0% 0% transparent;
	padding-top: 5px;
	padding-bottom: 3px;
	color: #000;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 3px;
}
.banner_image {
	width:100%;
}
.image_index {
	width: 100%;
	border-radius: 3px;
}
.bottom {
	padding-top: 10px;
}
.bottom .col-md-12 {
	text-align: center;
}
.bottom ul {
	padding: 0px;
}
.bottom ul li {
	display: inline-block;
	text-decoration: none;
}
.bottom a,.bottom p {
	color: #000;
	text-decoration: none;
}
.bottom a:hover {
	color: #FFF;
}	
.bottom ul li.active a {
	color: #FFF;
}
.content {
	margin-left: 5%;
}
.btn {
	background: url("bg.jpg") repeat scroll 0% 0% transparent;
	color:black;
}
hr {
	border-color: black;
}
a, a:link, a:visited {
	text-decoration: none;
}
.detail_marks li {
	list-style-type: none
}
.add {
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
.add img{
	border-radius: 8px;
	width:100%;
	/*height: 100%;*/
}
.marks_detail li {
	list-style-type: none;
}
.marks_detail li p {
	text-align: left;
}
.student_image {
	width: 200px;
	height: 200px;
}
@media screen and (max-width: 640px) {
	.top-header {
		margin-right: 0%;
		margin-left: 0%;
	}
	.navbar-nav > li {
		display: block;
		border-right: none;
	}
	.rt-content {
		margin-top: 20px;
	}
	.add img {display: none;}
}
@media screen and (max-width: 980px) {
	.add img {display: none;}
}

/*Activeadmin*/
form input[type="date"] {
  width: calc(80% - 22px);
}
form input[type="text"], form input[type="email"], form input[type="tel"] {
	width: calc(100%);
}
