<DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ideal Education Investment Management & Technology</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag 'jquery-1.11.0.min.js'%>
	<%= javascript_include_tag 'jssor.js' %>
	<%= javascript_include_tag 'jssor.slider.js' %>
	<%= javascript_include_tag 'slider.js' %>
	<%= javascript_include_tag 'jquery-ui.js' %>
	<script type="text/javascript">
		jQuery(function($){
			$('.datepicker').datepicker({
				dateFormat: 'd M yy',
				changeMonth: true,
				changeYear: true,
				yearRange: "1980:2005",
				defaultDate: '01 JAN 1980'
			});
		});
	</script>
	<%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>
	
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 add">
		<a href="http://www.globalcollege.edu.in/" target="_blank">
			<%= image_tag(('global.gif'), class: 'img-responsive') %>
		</a>	
		</div>
		<%= yield %>
		<div class="col-md-2 add">
		<a href="http://www.globalcollege.edu.in/" target="_blank">
			<%= image_tag(('global.gif'), class: 'img-responsive') %>
		</a>	
		</div>
	</div>
</div>

</body>
</html>
